@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

body {
    margin: 0;
    background-color: #302F54;
}

.background-img {
    position: relative;
}

.background-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.background-img .intro {
    position: absolute;
    margin-top: 15%;
}

.intro h1 {
    text-decoration: none;
    font-family: 'Irish Grover', cursive;
    color: white;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 2%;
    font-size: 2.5rem;
}

.intro p {
    font-family: 'Nunito', sans-serif;
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 2%;
    font-size: 1.2rem;
    color: white;
}

.phone-menu {
    display: none;
}

.phone-menu.active {
    display: flex;
    text-align: center;
    color: #7453BB;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
    background-color: black;
    opacity: 80%;
    border-radius: 20px;
    position: fixed;
    width: 80%;
}

nav {
    display: flex;
    background-color: black;
    color: white;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    opacity: 80%;
    justify-content: space-between;
    padding: 0 10% 0 5%;
    align-items: center;

}

.titel {
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    align-items: center;
}

.titel a {
    text-decoration: none;
    font-family: 'Irish Grover', cursive;
    color: white;
    font-size: 1.5rem;
}

.logga {
    width: 64px;
    height: auto;
    border-radius: 10px;
}

.menu-button {
    background-color: black;
    color: white;
    border: none;
    font-size: 20px;
    font-family: 'Irish Grover', cursive;
}

.our-games h2 {
    text-decoration: none;
    font-family: 'Irish Grover', cursive;
    text-align: center;
    font-size: 2rem;
    margin: 240px 0 2% 0;
    color: #845DD6;
}

.our-games img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-bottom: 5%;
}

.about h2 {
    text-decoration: none;
    font-family: 'Irish Grover', cursive;
    text-align: center;
    font-size: 2rem;
    color: #845DD6;
    margin-bottom: 0%;
}

.person {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2%;
}

.face {
    width: auto;
    height: 64px;
    margin: 0 5% 0 10%;
    border-radius: 32px;
}

.person h3 {
    font-size: 1.4rem;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    color: white;
}

.about p {
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    color: white;
    padding-right: 5%;
}

.foretaget p {
    text-align: center;
    padding: 2% 5% 5% 5%;
}

.newsletter{
    background-image: url("exbild.png");
}

.newsletter h2{
    font-family: 'Irish Grover', cursive;
    color: white;
    padding: 5% 0 10% 0;
    margin: 5% 0 0 0;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    background-color: black;
    
    color: white;
}

footer img{
    width: auto;
    height: 64px;
    border-radius: 32px;
    margin: 5px;
}