@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

body {
    margin: 0;
}

.phone-menu {
    display: none;
}

.phone-menu.active {
    display: flex;
    text-align: center;
    color: #7453BB;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
    background-color: black;
    opacity: 80%;
    border-radius: 20px;
}

nav {
    display: flex;
    background-color: black;
    color: white;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    opacity: 80%;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 10%;
    align-items: center;
}

.titel {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logga {
    width: 20%;
    height: auto;
}

.menu-button {
    background-color: black;
    color: white;
    border: none;
    font-size: 20px;
    font-family: 'Irish Grover', cursive;
}

h1 {
    font-family: 'Irish Grover', cursive;
    color: white;

}